:root:root {
  --vp-c-brand: #4569d4;
  --formily-primary-rgb: 69, 105, 212;
  --vp-c-brand-soft: rgba(var(--formily-primary-rgb), 0.05);
}

.VPImage.logo {
  width: 150px;
  height: auto;
}

html .v-popper--theme-twoslash.v-popper__popper {
  content-visibility: visible;
}
